head{
    font-family: SFProDisplay-Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 62px;
    /* or 97% */
    letter-spacing: 0.98104px;
    color: rgba(101, 119, 134, 0.6);
    border-radius: 12.1016px;
}

body{
    text-align: left;
    background: #F5F8FA;
}
a {
    color: unset;
    text-decoration: unset;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: left;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: left;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
    font-weight: 700;
    color:gray;
}

.header-content-inner img {
    float: left;
}

@font-face {
    font-family:"SFProDisplay-Semibold";
    src: url("SFProDisplay-Semibold.ttf") format("truetype");
}

@font-face {
    font-family:"SFProDisplay-Regular";
    src: url("SFProDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family:"SFProDisplay-Light";
    src: url("SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
    font-family:"SFProDisplay-Medium";
    src: url("SFProDisplay-Medium.ttf") format("truetype");
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: SFProDisplay-Light;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 62px;
    letter-spacing: 0.98104px;
    color: rgba(101, 119, 134, 0.6);
    border-radius: 12.1016px;
}